//- -------------- MAIN HEADER ---------------- -//
//- ------------------------------------------- -//

ul
    li
        a(href='/') home
    if false
        li
            a(href='/logout') log out
    else
        li
            a(href='/login') login
        li
            a(href='/signup') sign up

//-p test #{session.isLoggedIn}