// ------------------------------------ //
// --------------- BANNERS ------------ //
// ------------------------------------ //

.banner__container
    min-height 277px
    box-sizing border-box
    
    &.left
        float left
        
    &.right 
        float right
        
    &.half
        width 50%
    
        +for_breakpoint(mobile)
            width 100%
    &.third 
        width 33.33%
        
    &.green
        .banner
            background-color $emerald
            
        .light 
            color $riptide
        
    &.cyan
        .banner
            background-color $curious-blue
            
        .light 
            color $seagull
    
    &.purple
        .banner
            background-color $scampi
            
        .light 
            color $chetwode-blue

.banner__container.half.left
    padding-right 9px
    
    +for_breakpoint(mobile)
        padding 0
    
.banner__container.half.right
    padding-left 9px
    
    +for_breakpoint(mobile)
        margin-top 15px
        padding 0

.banner
    width 100%
    height 100%
    min-height 277px
    position relative
    box-sizing border-box
    
.banner__title,
.banner__subtitle
    font-family $knockout-full
    text-transform uppercase
    line-height 40px
    min-height 20px
    color $white
    
.banner__text1,
.banner__text2
    display block

.banner__copy
    font-family $gotham-book
    font-size 15.5px
    line-height 20px
    
.banner__cta 
    display block
    position absolute
    bottom 0
    left 0
    width 100%
    background rgba(0,0,0,0.2)
    color $white
    transition background 0.3s
    padding 0 65px 0 35px
    box-sizing border-box
    font-family $gotham-medium
    text-transform uppercase
    font-size 14px
    line-height 15px
    
    &:after
        font-weight bold
        content '>'
        display block
        width 40px
        height 40px
        line-height 42px
        position absolute 
        top 50%
        right 20px
        margin-top -20px
        text-align center
    
    &:hover 
        background rgba(0,0,0,0.5)

.banner__cta__text
    padding-top 5px
    height 60px
    vertical-align middle
    display table-cell

//- QUIZ BANNERS
.quiz
    .banner
        min-height 310px
        padding 13px 25px
        
        +for_breakpoint(mobile)
            padding 20px 0 34px 20px
    
    .banner__title
        font-size 46.2px
        line-height 34px
        
        +for_breakpoint(mobile)
            font-size 45px
            margin-top 5px
        
.banner__subtitle
    font-size 25.67px
    line-height 33px
    
.banner__button
    display block
    width 160px
    height 50px
    text-transform uppercase
    text-align center
    color $white
    background rgba(0,0,0,0.4)
    font-family $knockout-full
    font-size 36.6px
    line-height 50px
    margin-bottom 5px
    transition background 0.3s
    
    &:hover
        background rgba(0,0,0,0.6)
        
    +for_breakpoint(mobile)
        width 176px
        margin-top 3px
        margin-bottom 15px

.answers
    display none
    
.answered
    .banner__button
        display none
        
    .answers
        display block
        
        +for_breakpoint(mobile)
            margin-top 10px
        
        
    +for_breakpoint(mobile)
        .banner__subtitle
            display none
            
        .banner__title
            margin-top 13px
        
.banner__answer__title
    font-size 27.57px
    color $white
    text-transform uppercase
    font-family $knockout-full
    line-height 22px
    
    +for_breakpoint(mobile)
        font-size 39px
    
    &.low
        padding-top 15px
        
        +for_breakpoint(mobile)
            padding-top 31px
            
.extra__text
    visibility hidden
    
    &.visible
        visibility visible
        
    +for_breakpoint(mobile)
        font-size 17px
        display inline-block
        line-height 17px
        max-width 150px
    
        
.banner__bar__container
    width 100%
    box-sizing border-box
    padding-right 45px
    margin-top 10px
    
    +for_breakpoint(mobile)
        padding-right 60px

.banner__bar
    width 1%
    height 40px
    background rgba(0,0,0,0.5)
    position relative
    margin-top -7px
    
.banner__quiz__value
    display block
    width 45px
    height 40px
    font-family $knockout-full
    color $white
    font-size 27.57px
    line-height 40px
    position absolute
    text-align center
    top 0
    right -45px
    
    +for_breakpoint(mobile)
        width 60px
        right -60px
        line-height 40px
        font-size 39px
        
    
    
//- CUSTOM BANNERS -//
.video-side
    position absolute
    top 0
    right 0
    width 246px
    height 100%
    
    .banner__image
        width auto
        height 46%
        margin 0 auto
        display block
        padding 46px 0 0 0
        
        +for_breakpoint(mobile)
            width 60%//100%
            max-width 350px
            height auto
            padding 30px 0 0 0
        
    .banner__title
        font-size 49.33px
        line-height 35.93px
        text-align center
        margin-top 30px
        padding-bottom 20px
        
        +for_breakpoint(mobile)
            font-size 35px
            
            .block
                display inline
                
        
    +for_breakpoint(mobile)
        margin-top 15px
        position static
        height auto
        width 100%
        
        .banner
            padding-bottom 62px
    
        


//- CUSTOM MID
.banner__custom__mid__container
    padding-top 25px
    padding-bottom 25px
    
    +for_breakpoint(mobile)
        padding-top 15px
        padding-bottom 15px
    
.banner__custom__mid
    padding-right 347px
    position relative
    
    +for_breakpoint(mobile)
        padding-right 0
    
.custom__mid__white
    height 280px
    border 1px solid $silver-chalice
    box-shadow 0 0 5px rgba(0,0,0,0.4)
    
    .banner__title
        background url('../img/content/study-icon.jpg') center no-repeat 
        padding-top 0
        float left
        font-size 56px
        margin 0px 6.5% 0 8.7%
        color $curious-blue
        text-align center
        text-indent -9999px
        width 190px
        height 100%

    .banner__copy
        height 278px
        vertical-align middle
        display table-cell
        padding-right 9%
        color $dove-gray
        
            
    +for_breakpoint(mobile)
        height auto
        
        .banner__title
            max-width 500px
            margin 0 auto 0
            float none
            font-size 37.5px
            padding-top 153px
            background-size 133px auto
        
        .banner__copy
            display block
            text-align center
            height auto
            margin 0 auto
            padding 0 20px 32px
            font-size 13px

.custom__mid__green
    position absolute
    top 0
    right 0
    width 334px
    height 280px
    
    .banner
        +for_breakpoint(mobile)
            padding-bottom 66px
    
    .banner__title
        font-size 33.37px
        line-height 24.36px
        float left
        margin-top 86px
        
        +new_breakpoint(501px, 915px, null)
            font-size 63.37px
            line-height 46.36px
        
        +for_breakpoint(mobile)
            float none
            margin 0
            text-align center
            padding 0 0 10px 0
        
    .banner__image
        width 74px
        height auto
        float left
        margin 25px 16px 0 20px
        
        +for_breakpoint(mobile)
            display block
            float none
            margin 0 auto
            padding 12px 0 0 
        
        +new_breakpoint(501px, 915px, null)
            width 104px
            margin-bottom 10px
            
    +for_breakpoint(mobile)
        margin-top 15px
        position static
        width 100%
        height auto

//- LONG 
.long__up,
.long__down
    overflow hidden 
    position relative

    .banner__title
        font-size 92.40px
        line-height 67.45px

.long__up
    .banner
        padding-left 280px
        
    .banner__image
        position absolute
        top 19px
        left 40px
        width 200px
        height auto
        
        +for_breakpoint(mobile)
            width 200px
            padding 30px 0  15px
        
    .banner__title
        padding-top 50px
        
        +for_breakpoint(mobile)
            padding 0 0 20px
        
    &.guide_low
        margin-top 30px
        
        .banner__title
            font-size 54.15px
            line-height 40px
            padding-top 100px
            
            +new_breakpoint(916px, 1000px, null)
                font-size 44.15px
                line-height 32px
            
        +for_breakpoint(mobile)
            margin-top 15px

.long__down
    .banner
        padding-left 220px
        padding-bottom 40px
        
    .banner__image
        position absolute
        top 14px
        left 87px
        width 80px
        height auto
        
        +for_breakpoint(mobile)
            padding 30px 0  15px
        
    .banner__title
        padding-top 50px
        
        +for_breakpoint(mobile)
            padding 0 0 20px


+for_breakpoint(mobile)
    .long__up,
    .long__up.guide_low,
    .long__down
        .banner
            padding-left 0
            padding-bottom 70px
        
        .banner__image
            position static
            display block
            margin 0 auto
            
        .banner__title
            text-align center
            font-size 37.5px
            line-height 28px
            padding-top 20px


.guide__banner
    width 330px
    height 654px
    position absolute
    top 0
    right 0
    background url('../img/guide/guide-banner.jpg') center top no-repeat
    background-size auto 100%
    
    .banner__image
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        z-index 1
        
    .banner__cta
        z-index 2

    .banner__title 
        position absolute 
        bottom 146px
        left 20px
        
        +for_breakpoint(mobile)
            bottom 86px
        
        +new_breakpoint(null, 500px, null)
            bottom 68px

    .banner__text1
        font-size 55px 
        
        +new_breakpoint(null, 500px, null)
            font-size 41.6px
            line-height 30px
    
    .banner__text2
        font-size 32px 
        line-height 25px
        margin-top -7px
        padding-top 7px
        
        +new_breakpoint(null, 500px, null)
            font-size 23px
            line-height 20px
    
    +for_breakpoint(tablet)
        width 32.2vw
        
    +for_breakpoint(mobile)
        position static
        width 100%
        margin-top 15px
        background-position 60% 97%
        background-size auto 105%
        height 612px
        
    +new_breakpoint(null, 500px, null)
        height 354px
        

+new_breakpoint(501px, 915px, null)
    .long__up,
    .long__up.guide_low,
    .long__down
            
        .banner__title
            text-align center
            font-size 63.37px
            line-height 46.36px
            
        .banner
            padding-bottom 60px
            
    .long__up
        .banner__image
            width 300px
        
    .long__down
        .banner__image
            width 150px












