// ------------------------------------- //
// ------------ GUIDE HEADER ----------- //
// ------------------------------------- //

.guide__header__container
    padding 50px 0 64px
    max-width 725px
    
    +for_breakpoint(mobile)
        padding 40px 0 42px 0
    
.guide__header__title
    font-size 41.25px
    //font-family 'Gotham-italic'
    font-family $gotham-italic 
    font-weight bold
    font-style italic
    text-transform uppercase
    padding-bottom 34px
    
    +for_breakpoint(mobile)
        font-size 23px
        line-height 26px
        padding-bottom 7px
    
.guide__header__copy
    font-size 16px
    font-family $gotham-book
    
    sup
        font-size 8.5px 
        line-height 9px
    
    .block
        padding-top 23px

    +for_breakpoint(mobile)
        font-size 14px
        line-height 27px
        

        

    



















