// ---------------------------------------- //
// ------------ GUIDE CONTAINER ----------- //
// ---------------------------------------- //

.guide__steps__container
    position relative
    padding-right 350px
    
    +for_breakpoint(tablet)
        padding-right 34.2vw
        
    +for_breakpoint(mobile)
        padding-right 0
    
.guide__steps__header
    background $aquamarine-blue
    overflow hidden
    padding 33px 0 28px 57px
    
    +for_breakpoint(tablet)
        padding-left 5.5vw
        
    +for_breakpoint(mobile)
        padding 15px 0 0 24px
        height 45px
    
.guide__steps__title
    height 65px
    width 286px
    background url('../img/defaults/listerine-logo.svg') left center no-repeat
    background-size auto 43px
    text-indent -9999px
    border-right 2px solid $white
    float left
    
    +for_breakpoint(mobile)
        background-size auto 20px
        width 129px
        height 30px
    
.guide__steps__subtitle
    float left
    line-height 72px
    padding-left 35px
    color $white
    font-size 24.75px
    height 65px
    font-family $gotham-italic 
    font-style italic
    text-transform uppercase
    
    +for_breakpoint(tablet)
        padding-left 3.4vw
        
    +for_breakpoint(mobile)
        line-height 30px
        font-size 14px
        padding-left 17px
    
.guide__steps
    background-color #19a0c0 //$curious-blue
    
.guide__steps__sub
    font-family $knockout-full
    color $white
    font-size 64.9px
    line-height 40px
    padding 83px 0 46px 50px
    
    +for_breakpoint(mobile)
        padding-left 20px
    
    +new_breakpoint(null, 600px, null)
        font-size 10vw
    
.guide__steps__image
    width 227px
    height auto
    margin-left 88px
    
    +for_breakpoint(tablet)
        margin-left 8.7vw
        
    +new_breakpoint(null, 600px, null)
        width 38vw
        margin-left 15vw
    
.guide__steps__step
    color $white
    font-family $gotham-italic
    font-style italic
    font-size 20px
    position relative
    padding-left 43px
    position absolute
    
    +new_breakpoint(null, 600px, null)
        font-size 3.4vw
        line-height 3.2vw
        padding-left 7vw
    
    .text
        display table-cell
        vertical-align middle
        height 57px
    
    .number
        position absolute
        top 0
        left 0
        display block
        line-height 61px
        font-family $gotham-italic
        font-size 54.51px
        font-weight bold
        
        +new_breakpoint(null, 600px, null)
            font-size 8vw

.guide__steps__list
    position relative
        
.step1 
    top 30px
    left 240px
    
    +new_breakpoint(null, 600px, null)
        top 2.5vw
        left 40vw
    
.step2
    top 269px
    left 343px
    
    +new_breakpoint(null, 600px, null)
        top 42.5vw
        left 57vw
    
.step3
    top 500px
    left 244px
    
    +new_breakpoint(null, 600px, null)
        top 81vw
        left 42vw
    
.step4
    top 704px
    left 338px
    
    +new_breakpoint(null, 600px, null)
        top 115vw
        left 56vw
        
.guide__steps__section__texts
    padding-left 50px
    
    +for_breakpoint(mobile)
        padding-left 17px
        
.guide__steps__section__title
    font-family $knockout-full
    font-size 78.84px
    color $white
    padding-top 40px
    line-height 5px
    
    +new_breakpoint(null, 700px, null)
        font-size 11.25vw
        line-height 0.75vw
        padding-top 6vw
    
.guide__congrats,
.guide__options 
    color $white
    padding-top 15px
    font-family $knockout-full
    font-size 47.3px
    line-height 35px
    
    +new_breakpoint(null, 700px, null)
        font-size 6.8vw
        line-height 5vw

.guide__congrats
    padding-top 25px
    
.guide__option
    &:nth-child(odd)
        color $seagull
        
.guide__legal
    font-size 14.44px
    font-family $gotham-book
    font-style italic
    color $white
    line-height 16px
    padding 9px 20px 27px 0
    
    +for_breakpoint(mobile)
        font-size 8px 
        line-height 10px




































