@import '../base/defaults'

.mac
    //- GUIDE STYLES FIXES
    .guide__congrats
        padding-top 25px
    .guide__congrats
        padding-top 15px
        
    .guide__banner .banner__text2
        padding-top 0px
        



    //- BANNERS STYLES FIXES
    .banner__button
        line-height 74px
        
    .banner__bar__container
        margin-top 0px
        
    .banner__quiz__value
        line-height 60px
        
        +for_breakpoint(mobile)
            line-height 67px
            
    .custom__mid__green 
        .banner__title
            +for_breakpoint(mobile)
                padding 20px 0 0 0
    
    .long__up
        .banner__title
            padding-top 74px

    .long__down
        .banner__title
            padding-top 76px
        
    .long__up,
    .long__down
        .banner__title
            +for_breakpoint(mobile)
                padding 20px 0 0
            



    //- SLIDER STYLES FIXES
    .slider__legal
        padding-top 0px
        
        +for_breakpoint(tablet)
            margin-top 20px

        +for_breakpoint(mobile)
            margin-top 10px
    
    .slider__title
        margin-bottom -19px
        



    //- PAGE TITLE STYLE FIXES
    .page__title__holder
        padding 53px 0 20px
        
        +for_breakpoint(mobile)
            padding 10px 0 20px
            
    .page__title
        line-height 90px
        padding 0
        
        +for_breakpoint(mobile)
            padding 24px 0 0 0
            margin-bottom 0
                
        +new_breakpoint(886px, 915px, null)
            padding-top 40px
            &:first-line
                line-height 40px
                padding 100px 0 0 0
                
        +new_breakpoint(null, 885px, null)
            line-height 0px
            padding 20px 0 0 0
            
            &:first-line
                line-height 77px
                
        +new_breakpoint(501px, 650px, null)
            &:first-line
                line-height 50px
                
        +new_breakpoint(null, 500px, null)
            padding 20px 0 0 0
            line-height 28px
            
            &:first-line
                line-height 30px
        
    .page__title__holder .selective__block
        line-height 20px
        
        +for_breakpoint(mobile)
            line-height 20px
            


    
    //- VIDEO STYLES FIXES
    .video-side .banner__title
        margin-top 37px
        padding-bottom 0
        
        +for_breakpoint(mobile)
            margin-top 30px
        
        
        

            
    


































