// ---------------------------------------- //
// --------------- MAIN HEADER ------------ //
// ---------------------------------------- //

.main__nav__list
    overflow hidden
    
.main__nav__item
    float left
    padding 0 10px
    
.main__nav__link
    display block
    line-height 30px
    text-transform uppercase













    
    