//- -------------- Layout ---------------- -//
//- -------------------------------------- -//
//-include ../mixins/utilities

doctype html
htm
    head
        block head
            meta(charset='utf-8')
            meta(http-equiv='content-type', content='text/html;charset=utf-8')
            meta(name='viewport', content='width=device-width,minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0')
            title Wolfaide 0.1

    body
        include ../modules/main-header


        block content


        //-include ../modules/main-footer

        block footer-scripts
            