//- -------------- Home Page ---------------- -//
//- ----------------------------------------- -//

extends ../templates/layout


block append head
    link(href='public/css/home.css', rel='stylesheet', type='text/css')

block content
    h1 this is the dashboard

    if user
        p user: #{user}



block append footer-scripts