//- -------------- Home Page ---------------- -//
//- ----------------------------------------- -//

extends ../templates/layout


block append head
    link(href='public/css/home.css', rel='stylesheet', type='text/css')

block content
    h1 Upps!

    if error
        p #{error}
    else 
        p You have no access just yet. :)



block append footer-scripts