//- -------------- MAIN HEADER ---------------- -//
//- ------------------------------------------- -//

ul.main__nav__list
    li.main__nav__item
        a.main__nav__link(href='/') Home
    if user
        li.main__nav__item
            //-a(href='/dashboard/#{user.userid}') Dashboard
            a.main__nav__link(href='/dashboard') Dashboard
        li.main__nav__item
            a.main__nav__link(href='/logout') Log Out
    else
        li.main__nav__item
            a.main__nav__link(href='/login') Login
        li.main__nav__item
            a.main__nav__link(href='/signup') Sign Up
    li.main__nav__item
        a.main__nav__link(href='/cart') Cart