//- -------------- Home Page ---------------- -//
//- ----------------------------------------- -//

extends ../templates/layout


block append head
    link(href='app/css/home.css', rel='stylesheet', type='text/css')

block content
    h1 this is signup



block append footer-scripts