//- -------------- Home Page ---------------- -//
//- ----------------------------------------- -//

extends ../templates/layout


block append head
    link(href='app/css/home.css', rel='stylesheet', type='text/css')

block content
    h1 this is signup

    form(method='post', action='/signup', enctype='application/x-www-form-urlencoded')
        if exists
            .error That user exists. Are you trying to 
                a(href="/login") Login?
        if invalid
            .error Please enter a valid email address and password.

        ul
            li
                label(for='email') Email
                input#email(name='email')
            li
                label(for='pass') Password
                input#pass(name='pass', type='password')
                input(type='submit', value='Sign Up')


block append footer-scripts