// ----------------------------- //
// ------------ FONTS ---------- //
// ----------------------------- //

@font-face {
    font-family: 'Knockout-jr';
    src: url('../fonts/content/Knockout-HTF29-JuniorLiteweight.eot');
    src: url('../fonts/content/Knockout-HTF29-JuniorLiteweight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/content/Knockout-HTF29-JuniorLiteweight.woff') format('woff'),
        url('../fonts/content/Knockout-HTF29-JuniorLiteweight.ttf') format('truetype'),
        url('../fonts/content/Knockout-HTF29-JuniorLiteweight.svg#../fonts/content/Knockout-HTF29-JuniorLiteweight') format('svg');
    font-weight: 500;
    font-style: normal;
}
