/* GLOBAL VARIABLES */

$size-desktop-max   = 1028px // 1200px
$size-desktop-min   = 1025px
$size-tablet-max    = 1024px
$size-tablet-min    = 916px // 769
$size-mobile-max    = 915px // 768
$size-mobile-min    = 320px


/* COLOR VARIABLES */
$bg-color       = #5985b1

$eastern-blue   = #26a0be
$emerald        = #47c48e
$curious-blue   = #25a5c3
$scampi         = #6358a4
$fountain-blue  = #45b9b9
$riptide        = #86eabc
$chetwode-blue  = #958ddd
$seagull        = #80d0e7
$aquamarine-blue = #75cde2


/* GRAYSCALE COLORS */
$white          = #FFF
$black          = #000
$gray           = #898989
$dove-gray      = #737373
$silver-chalice = #a1a1a1
$alto           = #dddddd
$gallery        = #ededed
$tundora        = #454545



/* FONTS */
$gotham-italic      = 'Gotham-italic'
$gotham-book        = 'Gotham-book'
$gotham-medium      = 'Gotham-medium'
$gotham             = 'Gotham'
$knockout-jr        = 'Knockout-jr'
$knockout-full      = 'Knockout-full'
$font-normal        = 'Lato', sans-serif
$font-wt-light      = 300
$font-wt-regular    = 400
$font-wt-bold       = 700
$font-wt-extrabold  = 900


/* BRAKEPOINTS */
media_queries = {
    mobile  : "only screen and (max-width: "+ $size-mobile-max +")",
    tablet  : "only screen and (min-width: "+ $size-tablet-min +") and (max-width: "+ $size-tablet-max +")",
    desktop : "only screen and (min-width: "+ $size-desktop-min +")"
}